---
import Layout from '../layouts/Layout.astro'

import LetterPullup from '../components/LetterPullup'

import carlosImage from '../assets/carlos.png'
import mybitgImage from '../assets/mybitg.png'
import psybitcoinImage from '../assets/psybitcoin.png'
---

<Layout title="Everything about psy | Psylibrary">
  <header class="h-16">
    <nav
      class="flex max-w-screen-xl justify-between items-center h-full mx-auto px-8"
    >
      <a class="font-bold">[psylibrary]</a>
      <ul>
        <li class="flex gap-12">
          <a class="font-medium">Home</a>
          <a class="font-medium text-gray-500 cursor-pointer" href="/#projects"
            >Projects</a
          >
          <a class="font-medium text-gray-500 cursor-pointer" href="/#contact"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
  </header>
  <main class="flex max-w-screen-xl mx-auto px-8 justify-center flex-col gap-6">
    <div class="flex gap-12">
      <div></div>
      <div class=""></div>
    </div>
    <div id="projects" class="flex gap-6 flex-col md:flex-row pt-3">
      <a
        class="group w-full md:w-1/2 h-[580px] bg-[#9400d3] rounded-3xl flex flex-col p-8 cursor-pointer"
        target="_blank"
        href="https://psybitcoin.com"
      >
        <div
          class="flex justify-between group-hover:scale-[1.02] duration-500 transition-all ease-in-out"
        >
          <div class="flex flex-col">
            <p class="text-xl font-medium text-white">Psybitcoin</p>
            <p class="text-gray-300 text-sm">
              Portuguese bitcoin education platform
            </p>
          </div>
          <div
            class="flex items-center justify-center cursor-pointer rounded-full bg-white h-10 w-10 min-h-[2.5rem] min-w-[2.5rem]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5"
            >
              <path
                fill-rule="evenodd"
                d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
        <img
          src={psybitcoinImage.src}
          alt="Psybitcoin"
          class="w-full group-hover:scale-[1.02] duration-500 transition-all ease-in-out self-center rounded-md"
        />
      </a>
      <a
        class="group w-full md:w-1/2 h-[580px] bg-black rounded-3xl flex flex-col pt-8 px-8 cursor-pointer justify-between"
        target="_blank"
        href="https://mybitg.com"
      >
        <div
          class="flex justify-between group-hover:scale-[1.02] duration-500 transition-all ease-in-out"
        >
          <div class="flex flex-col">
            <p class="text-xl font-medium text-white">MyBitG</p>
            <p class="text-gray-300 text-sm">
              Free and open source Bitcoin Wallet
            </p>
          </div>
          <div
            class="flex items-center justify-center cursor-pointer rounded-full bg-white h-10 w-10 min-h-[2.5rem] min-w-[2.5rem]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5"
            >
              <path
                fill-rule="evenodd"
                d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
        <img
          src={mybitgImage.src}
          alt="MyBitG"
          class="w-full group-hover:scale-[1.02] duration-500 transition-all ease-in-out self-center rounded-md"
        />
      </a>
    </div>
    <div class="flex gap-6 flex-col md:flex-row">
      <a
        class="group w-full md:w-1/2 h-[580px] bg-green-500 rounded-3xl flex flex-col p-8 cursor-pointer"
        target="_blank"
        href="https://psyui.com"
      >
        <div
          class="flex justify-between group-hover:scale-[1.02] duration-500 transition-all ease-in-out"
        >
          <div class="flex flex-col">
            <p class="text-xl font-medium text-white">Psyui</p>
            <p class="text-gray-200 text-sm">Copy & paste vue components</p>
          </div>
          <div
            class="flex items-center justify-center cursor-pointer rounded-full bg-white h-10 w-10 min-h-[2.5rem] min-w-[2.5rem]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5"
            >
              <path
                fill-rule="evenodd"
                d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
      </a>
      <a
        class="overflow-hidden group w-full md:w-1/2 h-[580px] bg-[#D8DBE3] rounded-3xl flex flex-col pt-8 px-8 cursor-pointer justify-between"
        target="_blank"
        href="https://psycarlo.com"
      >
        <div
          class="flex justify-between group-hover:scale-[1.02] duration-500 transition-all ease-in-out"
        >
          <div class="flex flex-col">
            <p class="text-xl font-medium text-black">Psycarlo</p>
            <p class="text-gray-500 text-sm">Psycarlo portfolio website</p>
          </div>
          <div
            class="flex items-center justify-center cursor-pointer rounded-full bg-white h-10 w-10 min-h-[2.5rem] min-w-[2.5rem]"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="size-5"
            >
              <path
                fill-rule="evenodd"
                d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z"
                clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
        <img
          src={carlosImage.src}
          alt="Carlos Marques"
          class="w-[280px] group-hover:scale-[1.02] duration-500 transition-all ease-in-out self-center"
        />
      </a>
    </div>
    <div
      id="contact"
      class="w-full rounded-3xl h-[350px] p-6 flex flex-col items-start"
    >
      <LetterPullup
        client:visible
        words={'Want to work together?'}
        delay={0.05}
      />
      <p>Feel free to reach out for collaborations or just a friedly hello</p>
      <a href="mailto:psycarlo1@gmail.com">psycarlo1@gmail.com</a>
    </div>
  </main>
</Layout>
